body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header img {
  position: fixed;
  top: 60px;
  left: 70px;
  width: 200px;
}

.quiz-container {
  width: 700px;
  padding: 40px;
  text-align: center;
  position: relative;
}

.question-section h1 {
  font-size: 60px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 65px;
  line-height: 1.2;
}

.question-section h2 span {
  color: #ffffff;
  font-weight: bold;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.options button {
  padding: 30px 20px;
  border: none;
  border-radius: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 -4px 8px rgb(246, 244, 244);
}
button.answer-btn:hover {
  border-color: #e8e7ec;
}

.options button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-container {
  position: fixed;
  top: 50px;
  right: 100px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.timer-circle {
  position: absolute;
  top: 0;
  left: 0;
}
/* FOOTER */
footer {
  width: 100%; /* Larghezza del footer */
  text-align: center; /* Centra il testo del footer */
  padding: 10px; /* Padding interno per il footer */
  font-family: inter; /* Font del footer */
  font-size: 20px; /* Dimensione del testo del footer */
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
  position: relative; /* Posizione relativa per il footer */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px black; /* Colore di sfondo del footer */
  border-top: solid 2px white; /* Bordo superiore per il footer */
  color: #e8e7ec; /* Colore del testo del footer */
  text-decoration: none; /* Rimuove la sottolineatura dal testo del footer */
}
/* Footer <a/> style */
footer a {
  color: #e8e7ec; /* Colore del link nel footer */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
}
footer a:hover {
  color: #00eeff; /* Colore del link attivo nel footer */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-decoration: none; /* Sottolinea il link al passaggio del mouse */
}
