/* FOOTER */
footer {
  width: 100%; /* Larghezza del footer */
  text-align: center; /* Centra il testo del footer */
  padding: 10px; /* Padding interno per il footer */
  font-family: "Quicksand", sans-serif; /* Font del footer */
  font-size: 1rem; /* Dimensione del testo del footer */
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
  position: relative; /* Posizione relativa per il footer */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px black; /* Colore di sfondo del footer */
  border-top: solid 2px white; /* Bordo superiore per il footer */
  color: #fff; /* Colore del testo del footer */
  text-decoration: none; /* Rimuove la sottolineatura dal testo del footer */
}
/* Footer <a/> style */
footer a {
  color: #fff; /* Colore del link nel footer */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
}
footer a:hover {
  color: #00eeff; /* Colore del link attivo nel footer */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}
