/* HTML E BODY */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/assets/img/bg.jpg");
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 125px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* HEADERS */
h1,
h3 {
  font-family: Outfit, sans-serif;
}

h1 {
  font-size: 60px;
  color: #e8e7ec;
  padding-bottom: 0px;
  margin: 0;
}

h3 {
  color: #c2128d;
  font-size: 30px;
  position: relative;
  top: -50px;
}

/* TEXTS */
p {
  font-family: Inter;
  font-size: 16px;
  color: #e8e7ec;
  padding-bottom: 10px;
  position: relative;
  top: -75px;
}

ul,
li {
  font-family: Inter;
  font-size: 16px;
  color: #e8e7ec;
  padding-top: 10px;
  position: relative;
  left: -10px;
  top: -40px;
}

label {
  font-family: Inter;
  font-size: 16px;
  color: #e8e7ec;
  position: relative;
  top: -30px;
  left: -25px;
  font-weight: bold;
}

/* CLASSES */
.bold {
  font-weight: 700;
  margin-top: 0px;
  position: relative;
  top: -30px;
}

.welcome {
  font-weight: 300;
  margin-bottom: 0px;
}

/* CHECKBOX */
.checkbox {
  appearance: none;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: -25px;
  left: -30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.checkbox::after {
  appearance: none;
  background-color: white;
  width: 100%;
  height: 100%;
}

.checkbox:checked {
  background-color: white;
}

/* BUTTON */
button {
  background-color: #00ffff;
  color: #0b113b;
  font-family: Outfit, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  left: 120px;
  bottom: -30px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 30px;
  box-shadow: 0px 0px 35px 15px #00ffffbc;
  top: -25px;
}
button:hover {
  transform: translateY(-5px);
}
button a {
  text-decoration: none;
  color: inherit;
}

/* BACKGROUND IMAGE */
header > img {
  width: 150px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* FOOTER */
footer {
  width: 100%; /* Larghezza del footer */
  text-align: center; /* Centra il testo del footer */
  padding: 10px; /* Padding interno per il footer */
  font-family: inter; /* Font del footer */
  font-size: 1rem; /* Dimensione del testo del footer */
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
  position: relative; /* Posizione relativa per il footer */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px black; /* Colore di sfondo del footer */
  color: #e8e7ec; /* Colore del testo del footer */
  text-decoration: none; /* Rimuove la sottolineatura dal testo del footer */
}
/* Footer <a> style */
footer a {
  color: #e8e7ec; /* Colore del link nel footer */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
}
footer a:hover {
  color: #00ffff; /* Colore del link attivo nel footer */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-decoration: none;
}
