/* HTML E BODY E MAIN */
html {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex: 1; /* Occupa tutto lo spazio disponibile tra header e footer */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  text-align: center;
}
/* HEADERS */

/* Logo */
#logo {
  padding-top: 50px;
  padding-left: 125px;
  height: auto;
  width: 10%;
}

h1,
h3 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 60px;
  color: #e8e7ec;
  padding-bottom: 0px;
  margin: 0;
}
h3 {
  color: #c2128d;
  font-size: 30px;
  position: relative;
  top: -50px;
}
/* TEXTS */
p {
  font-family: Inter;
  font-size: 16px;
  color: #e8e7ec;
  padding-bottom: 10px;
  position: relative;
  top: -75px;
}

ul,
li {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #e8e7ec;
  padding-top: 10px;
  position: relative;
  left: -10px;
  top: -40px;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #e8e7ec;
  position: relative;
  top: -30px;
  left: -25px;
  font-weight: bold;
}

/* CLASSES */
.bold {
  font-weight: 700;
  margin-top: 0px;
  position: relative;
  top: -30px;
}

.welcome {
  font-weight: 300;
  margin-bottom: 0px;
}

/* CHECKBOX */
.checkbox {
  appearance: none;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid #e8e7ec;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: -25px;
  left: -30px;
  cursor: pointer;
  background-color: transparent;
  color: #e8e7ec;
  background-color: transparent;
  border: 2px solid #e8e7ec;
}

.checkbox::after {
  appearance: none;
  background-color: #e8e7ec;
  width: 100%;
  height: 100%;
}

.checkbox:checked {
  background-color: #e8e7ec;
}

/* BUTTON */
button {
  background-color: #00ffff;
  color: #0b113b;
  font-family: Outfit, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  left: 120px;
  bottom: -30px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 30px;
  box-shadow: 0px 0px 35px 15px #00ffffbc;
  top: -25px;
}
button:hover {
  transform: translateY(-5px);
}
button a {
  text-decoration: none;
  color: inherit;
}

/* FOOTER */
footer {
  width: 100%; /* Larghezza del footer */
  text-align: center; /* Centra il testo del footer */
  padding: 10px; /* Padding interno per il footer */
  font-family: "inter", sans-serif; /* Font del footer */
  font-size: 20px; /* Dimensione del testo del footer */
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
  position: relative; /* Posizione relativa per il footer */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px black; /* Colore di sfondo del footer */
  border-top: solid 2px #e8e7ec; /* Bordo superiore per il footer */
  color: #e8e7ec; /* Colore del testo del footer */
  text-decoration: none; /* Rimuove la sottolineatura dal testo del footer */
}
/* Footer <a/> style */
footer a {
  color: #e8e7ec; /* Colore del link nel footer */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
}
footer a:hover {
  color: #00eeff; /* Colore del link attivo nel footer */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-decoration: none; /* Sottolinea il link al passaggio del mouse */
}
